@{
    ViewData["Title"] = "Home Page";
}

@* <* div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> * *@

<h2>@ViewData["Title"]</h2>
<p>Med Tag Helpers</p>

<a asp-controller="" Home" asp-action="About">What is this</a>

<p>Uden Tag Helpers</p>

<a href="@Url.Action("AboutTwo", "Home")">What is that</a>